################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Porfolio_BE/.vs/Porfolio_BE
/Porfolio_BE/obj/Release/net8.0
/Porfolio_BE/obj/Porfolio_BE.csproj.nuget.dgspec.json
/Porfolio_BE/obj/Porfolio_BE.csproj.nuget.g.props
/Porfolio_BE/obj/project.assets.json
/Porfolio_BE/obj/project.nuget.cache
/Porfolio_BE/obj/Debug/net8.0/Porfolio_BE.AssemblyInfo.cs
/Porfolio_BE/obj/Debug/net8.0/Porfolio_BE.AssemblyInfoInputs.cache
/Porfolio_BE/obj/Debug/net8.0/Porfolio_BE.assets.cache
/Porfolio_BE/obj/Debug/net8.0/Porfolio_BE.csproj.AssemblyReference.cache
/Porfolio_BE/obj/Debug/net8.0/Porfolio_BE.GeneratedMSBuildEditorConfig.editorconfig
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Portfolio_FE/Untitled-1.txt
/.vs/My_Portfolio/v17/.wsuo
/.vs/My_Portfolio/v17/DocumentLayout.backup.json
/.vs/My_Portfolio/v17/DocumentLayout.json
