################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Porfolio_BE/.vs/Porfolio_BE
